* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --gray: #9a9aa3;
  --w_gray: rgba(224, 226, 231, 1);
  --d_gray: #babbc1;
  --red: #f03e3e;
  --header: #555555;
}
html, body {
  height: 100%;
}
#root {
  min-height: 105%;
  position: relative;
}

/* container */
.container {
  margin: 0 auto;
  height: inherit;
  text-align: center;
}
nav {
  background: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;   /* z-index */
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 11px 0px;
}
main {
  /* margin-top: 4rem; */
  padding-bottom: 3rem; 
} 
footer {
  width: 100%;
  height: 3rem; 
  position: absolute;  
  bottom: 0;
} 

/* nav */
#nav {
  height: 4rem;
  display: flex;
  align-items: center;
}
#nav-title {
  justify-self: start;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 2rem;
  align-items: center;
  width: 12rem;
}
.nav-title__name {
  vertical-align: middle;
  font-weight: 510;
  font-size: 1.5rem;
  position: relative;
  bottom: 5px;
  color: var(--red);
  font-family: 'Fugaz One', cursive;
}
.nav-title__picture {
  width: 55px;
  height: 45px;
  position: relative;
  top: 5px;
}
#nav__menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
}
.navTit {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem 1rem;
  /* height: 100%; */
}
.navTit:hover {
  color: var(--red);
  font-size: 1.1rem;
  border-bottom: 3px solid var(--red);
  transition: all 0.2s ease-out;
}

#nav__support {
  display: grid;
  justify-content: end;
  margin-right: 2rem;
}
.nav__wallet{
  display: grid;
  justify-content: end;
  margin-right: 1rem;
}
.nav__wallet:hover {
  cursor:pointer;
}

button {
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: var(--gray);
  border: none;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
.dropdown {
  position: relative;
  z-index: 1;       /* z-index */
  width: 110px;
}
.dropdown__toggle {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  transition: border-color 100ms ease-in;
}
.dropdown__toggle:active {  /* 누르고 있는 순간. */
  border-color: var(--w_gray);
  color: black;
}
.dropdown__menu {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #3f4150;
  z-index: 2;
  left: 0;
  width: 100%;
  margin-top: 5px;
  transition: border-color 200ms ease-in, padding 200ms ease-in,
    max-height 200ms ease-in, box-shadow 200ms ease-in;
}
.dropdown__option {
  background-color: #fff;
  color: #3f4150;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  text-align: center;
  font-weight: 500; 
  border-radius: 3px;
}
.dropdown__option:hover {
  background-color: var(--d_gray);
  color: #fff;
}


/* footer */
footer span {
  text-shadow: 1px 1px 1px rgb(229, 232, 235);
  color: rgb(201, 186, 186);
}
footer span:last-child {
  font-weight: lighter;
  float: right;
}
#footer {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 251, 254);
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 11px 0px;
  padding: 15px;
  margin-top: 1rem;
}



/* home */
.home-img {
  margin-top: -4rem;
  margin-bottom: 3rem;
  background-color: #1e1f20;
  color:rgb(229, 232, 235);
  display: flex;
  
}
/* .home-img__img {  /* 삭제 예정 *
  
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  
  background-image: linear-gradient(rgba(30,31,32,0.2),rgba(30,31,32,0.2)), url(../assets/sedBoy.jpg);
  background-size: auto 40rem;
} */
.home-img img {  
  width: auto;
  height: 40rem;
  /* box-shadow: 5px 5px 30px 10px  #1e1f20 inset; */
}
.home-img__contents {
  width: auto;
  height: 40rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  padding: 1rem;
}
.home-img__title {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: 'Nanum Brush Script', cursive;
}
.home-img__text {
  font-size: 1.2rem;
  color: var(--gray);
  padding: 0 0 1rem 1rem ;
}

#home-title {
  font-size: 1.8rem;
}
#home-title div{
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--gray);
}
#home-content {
  max-width: 900px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  height: 210px;
}
.home-content__support {
  flex: 1;
  width: 30%;
}
.home-content__title {
  margin-top: 30px;
  width: 100%;
  height: 60%;
}
.home-content__i{
  width: 55px;
  height: 55px;
  color: #f36464;
}
.home-content__title div {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: gray;
}
.home-content__contents span {
  font-size: 1.5rem;
  margin: 0.5rem;
}