
.banner {
  background: linear-gradient(
    to left,
    rgba(234, 234, 234, 1) 80%,
    rgba(234, 234, 234, 0.75) 85%,
    rgba(234, 234, 234, 0.5) 90%,
    rgba(234, 234, 234, 0.25) 95%,
    rgba(234, 234, 234, 0) 100%
  ), url("../../public/banner_1.jpg");

  background-size: contain;
  background-position: left center;
  height: 200px;
  display: flex;
  align-items: center;
}
.banner h1 {
  color: var(--header);
  font-size: 48px;
  font-weight: 700 !important;
  line-height: 1.56;
  letter-spacing: -0.8px;
  margin-left: 20%;
}

.mypage-menu input[type=radio] {
	display: none;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2) {
	/* background-color: rgba(0, 0, 0, 0.2); */
  color: var(--red);
  border-bottom: solid 2px var(--red);
  box-shadow: none;
}
.content > div {
	display: none;
}
#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2)  {
	display: block;
}
/* .mypage-menu {
  
} */
.tab {
  overflow: hidden;
  border-bottom: solid 1px var(--w_gray);
  display: flex;
  justify-content: center;
}
.tab label {
  color: var(--gray);
  font-size: 1rem;
  cursor: pointer;
  width: 15rem;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
}
.content {
/* background-color: rgba(0, 0, 0, 0.2); */
min-height: 250px;
}
.content > div{
 padding: 30px;
 line-height: 1.5;
 font-size: 17px;
}
.mypage-menu__button{
  width: 10rem;
  height: 3rem;
  background-color: #fff;
  color: black;
}
.mypage-menu__button:hover{
  color: var(--red);
  border-bottom: solid 2px var(--red);
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.Mypage-wrap {
    display: flex; 
    margin: 1.25rem; 
    display: flex; 
    justify-content: center; 
    
}

/* 여기부터 중연님 작성한 코드 시작 */
.Mypage-profileImg {
    margin: 1.25rem; 
    align-items: center; 
    border-radius: 9999px; 
    border-width: 1px; 
}

.Mypage-profileImg img {
    object-fit: cover; 
    width: 18rem; 
    height: 18rem; 
    border-radius: 9999px; 
   
}
.Mypage-profileImg-icon  {
    color: rgb(148 163 184);
    border: 1px solid rgb(148 163 184);
    border-radius: 9999px;
    width: 18rem; 
    height: 18rem; 
}

.Mypage-profileImg-input  {
    display: block; 
    background-color: #F9FAFB; 
    color: #111827; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    width: 100%; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    cursor: pointer;     
}

.Mypage-profileInfo {
    display: flex; 
    padding: 1.25rem; 
    margin: 1.25rem; 
    display: flex; 
    justify-content: center;     
}
.Mypage-profileInfo-wrap {
    padding: 0.625rem; 
    margin: 0.625rem; 
    width: 25%; 
    border-radius: 0.5rem; 
    border-width: 1px;     
}

.Mypage-profileInfo-box {
    position: relative; 
    z-index: 0; 
    margin-bottom: 1.5rem; 
    width: 100%; 
}

.Mypage-profileInfo-email {
    display: block; 
    padding-left: 0;
    padding-right: 0; 
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; 
    background-color: transparent; 
    color: #111827; 
    font-size: 1.875rem;
    line-height: 1.25rem; 
    text-align: center; 
    width: 100%; 
    border-width: 0; 
    border-bottom-width: 2px; 
    border-color: #D1D5DB; 
    appearance: none;     
}

.Mypage-profileInfo-bio {
    margin-top: 1.25rem; 
    width: 100%; 
    height: 8rem; 
    border-radius: 0.5rem;
    display:block;
    padding: 1rem;
}

.Mypage-button {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    background-color: #fe7481; 
    color: #ffffff; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    text-align: center; 
    width: 100%; height: 3rem; 
    border-radius: 0.5rem; 
    
    @media (min-width: 640px) { 
    width: auto; 
    }

}